{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Kritika {% endblock %}
{% block meta_description %} How to contact Kritika {% endblock %}
{% block content %}



<section class="page-title section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="text-capitalize mb-0 text-lg">Get in Touch, IRL</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
                <h4>Contact Info</h4>
                <p>Lorem ipsum dolor sit amet, conse adipisicing elit libero incidunt quod.</p>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
                <h4>Address</h4>
                <p>Kamla Nagar, Delhi 411007 <br>Building 18UA</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>Contact</h4>
                 <p class="mb-0">kritika@korbit.ai</p>
                <p class="mb-0">+91 90280 93389</p>
            </div>
        </div>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/kritikasony/20min" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->

</section>

{% endblock %}
