{% extends 'base.html' %}
{% load static %}
{% block title %} projects by Kritika {% endblock %}
{% block meta_description %} projects by Kritika Sony {% endblock %}
{% block content %}


<section class="page-title section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="text-capitalize mb-0 text-lg">Selected Projects</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-post">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
	<div class="post mb-5">
		<a class="image-content" href="https://www.dropbox.com/sh/2mh7gevjqb9vf0a/AAAmYlFt77ztWo99yKFe9vFga?dl=0">
			<img src="{% static 'website/images/projects/Britannia.png'%}" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">April 2019 </span>
      <br> <b style="color:black;">Indian Institute of Management, Ahmedabad </b>
			<a href="https://www.dropbox.com/sh/2mh7gevjqb9vf0a/AAAmYlFt77ztWo99yKFe9vFga?dl=0"><h4>Tweets Analysis and Data Visualisation</h4></a>
      <p>Skills: Tableau, Python, Web Scraping </p>
    </div>
	</div>
</div>

<div class="col-lg-4 col-md-6">
	<div class="post mb-5">
		<a class="image-content" href="https://blog.korbit.ai/its-everyones-game-nichelle-nichols/">
			<img src="{% static 'website/images/projects/kritikakorbit.jpg'%}" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">September 2019</span>
      <br> <b style="color:black;">Korbit Technologies </b>
			<a href="https://blog.korbit.ai/its-everyones-game-nichelle-nichols/"><h4>Communication and Community Manager</h4></a>
      <p>Skills: Marketing and Public Relations, Google Analytics, Web Development, Communication</p>
    </div>
	</div>
</div>

<div class="col-lg-4 col-md-6">
	<div class="post mb-5">
		<a class="image-content" href="https://features.dailybruin.com/2020/travel-grant/#/about">
			<img src="{% static 'website/images/projects/wwf.jpg'%}" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">8 January 2020</span>
      <br> <b style="color:black;">Daily Bruin </b>
			<a href="https://features.dailybruin.com/2020/travel-grant/#/about"><h4>The Billion Dollar Patent</h4></a>

		</div>
	</div>
</div>


<div class="col-lg-4 col-md-6">
	<div class="post mb-5 mb-lg-0">
		<a class="image-content" href="blog-single.html">

      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/336198451?color=ffffff&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">22 May 2019</span>

			<a href="https://vimeo.com/336198451"><h4>The Cost of Being Queer in Delhi</h4></a>
      <p>Skills: </p>
		</div>
	</div>
</div>


<div class="col-lg-4 col-md-6">
	<div class="post mb-5 mb-lg-0">
		<a class="image-content" href="https://www.ndtv.com/video/special/more-to-give-be-an-organ-donor/over-750-people-support-organ-donation-at-more-to-give-walkathon-in-delhi-502794?relatedviaplayer">
			<img src="{% static 'website/images/projects/ndtv.jpg'%}" alt="" class="img-fluid">
		</a>

		<div class="post-content">
			<span class="date text-uppercase text-sm">31 December 2018</span>
      <br> <b style="color:black;">NDTV</b>
			<a href="https://www.ndtv.com/video/special/more-to-give-be-an-organ-donor/over-750-people-support-organ-donation-at-more-to-give-walkathon-in-delhi-502794?relatedviaplayer"><h4>NDTV-Fortis 'More To Give' Walkathon</h4></a>
      <p>Skills: </p>
  	</div>
	</div>
</div>
		</div>

	</div>
</section>



{% endblock %}
